@import "tailwindcss";

:root {
  --background: #f7f7f0;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.logo {
  font-family: var(--font-montserrat), sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--foreground);
}

.footer-h {
  font-family: var(--font-inter), sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

